.dicr-admin-widgets-edit-form a.form-control-plaintext {
    color: var(--blue);
}

.dicr-admin-widgets-edit-form .form-group.form-group-static .col-form-label {
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 1.35;
}

.dicr-admin-widgets-edit-form .form-group.form-group-static .form-control-plaintext {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.35;
}
